@tailwind base;
@tailwind components;
@tailwind utilities;

body{    
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(63 63 70);
}


.movie-card:hover .movie-border{
    display: block;
}

.filtered-btn{
    @apply my-4  px-4 py-2 text-white border mx-2 rounded-lg hover:bg-slate-300 hover:text-black hover:border-black;
}

.active-filtered-btn{
    @apply my-4 px-4 py-2 text-white border mx-2 rounded-lg shadow-md shadow-white hover:bg-slate-300 hover:text-black hover:border-black
}